html,body{
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.container{
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}
.smallcontainer{
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}


p{
  color: white;
}

.button1{
  padding: 0.5rem;
  display: flex;
  justify-content: center;
 
}

